{% extends 'base.html.twig' %}


{% block mainContent %}
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row form-group">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.book) }}
                {{ form_widget(form.find_book) }}
                {{ form_row(form.review_image) }}
                {{ form_widget(form.number_sections)}}
                <div id="container-sections" class="mt-4"></div>
                <div class="form-submit cerchio mt-5">
                    {{ form_widget(form.Save) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if form.vars.value.sections is not null %}
        <script>
            let sectionsData = []
            {% for section in form.vars.value.sections %}
              var jsSection = JSON.parse('{{ section | json_encode() | raw  }}')
              sectionsData.push(jsSection)
            {% endfor %}
        </script>

    {% endif %}
    <script src="{{ asset('js/book-review-sections.js') }}"></script>
{% endblock %}
