

<div class="content-block post-list-view mt--30">
    {% if bookReview.frontImage != null %}
        <div class="post-thumbnail">
            <img src="{{ bookRe view.frontImage.url }}" alt="Post Images">
        </div>
    {% endif %}
    <div class="post-content">
        {% block card_content %}
            <div class="post-cat">
                <div class="post-cat-list">
                    <ul class="list-group">
                        {% for category in bookReview.exclusiveBook.categories %}
                            <a class="hover-flip-item-wrapper" href="{{ url('category_path',{'name' : category}) }}">
                                            <span class="hover-flip-item">
                                                <span data-text="{{ category }}">{{category }}</span>
                                            </span>
                            </a>
                        {% endfor %}
                    </ul>


                </div>
            </div>
            <h4 class="title"><a href="{{ url('book_review',{'id' : bookReview.id}) }}">{{ bookReview.title }}</a></h4>


            <div class="post-meta-wrapper">
                <div class="post-meta">
                    <div class="content">
                        <h6 class="post-author-name">
                            <a class="hover-flip-item-wrapper" href="{{ url('user_profile',{'id': bookReview.creator.id}) }}">
                                                    <span class="hover-flip-item">
                                                        <span data-text="{{ bookReview.creator.username }}">{{ bookReview.creator.username}}</span>
                                                    </span>
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>