
<div class="content-block post-list-view mt--30">
    <div class="post-thumbnail">
        <img src="{{ googleBook.volumeInfo.imageLinks.thumbnail }}" alt="Book image">
    </div>
    <div class="post-content">
        {% block card_content %}

            <div class="post-cat">
                <div class="post-cat-list">
                    <ul class="list-group">
                        {% for category in googleBook.volumeInfo.categories %}
                            <li class="list-group-item"><span data-text="{{ category }}">{{category }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <h4 class="title"><a href="{{ googleBook.volumeInfo.title}}">{{ googleBook.volumeInfo.title }}</a></h4>

            <div class="post-meta-wrapper">
                <div class="post-meta">
                    <div class="content">
                        <h2>Authors:</h2>
                        <a class="hover-flip-item-wrapper">
                            <ul>
                                {% for author in googleBook.volumeInfo.authors %}
                                    <li><span data-text="{{ author}}">{{author}}</span></li>
                                {% endfor %}
                            </ul>

                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>