{% extends 'base.html.twig' %}

{% block mainContent %}
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                {% if (bookReviews is empty) and (users is empty) and (books is empty) %}
                <h1>We are sorry... We could not find any match for your search</h1>
                {% endif %}
                <div class="col-lg-8 col-xl-8">
                    {% if bookReviews is not empty %}
                    <h1>Total reviews :  {{ bookReviews|length }}</h1>
                    {% for bookReview in bookReviews %}
                        {{ include('book_review/abstract_book_review_card.twig') }}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if users is not empty %}
                   <h1>Total users : {{ users | length }}</h1>
                    {% for user in users %}
                        {{ include('cards/user_card.twig')}}
                       {% endfor %}
                  {% endif %}
            </div>
            <div class="row">
                {% if books is not empty %}
                    <h1>Total books : {{ books | length }}</h1>
                    {% for book in books %}
                        {{ include('book/abstract_book_review_card.twig')}}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}